.layout {
  display: flex;
}

/* Sidebar đã có width 240px rồi */

.main {
  flex: 1;
  background: #f5f7fb;
  min-height: 100vh;
}

/* content bên trong */
.content {
  padding: 20px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .content {
    padding: 12px;
  }
}